In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [2]:
# Read in the csv and set index on 'date' column
big_foot = pd.read_csv('bfro_report_locations.csv', index_col='classification', parse_dates=True)

# Dispaly the first five rows of the dataframe
big_foot.head()

,number,title,timestamp,latitude,longitude
classification,,,,,
Class A,637,Report 637: Campers' encounter just after dark...,2000-06-16T12:00:00Z,61.5000,-142.9000
Class A,2917,Report 2917: Family observes large biped from car,1995-05-15T12:00:00Z,55.1872,-132.7982
Class A,7963,Report 7963: Sasquatch walks past window of ho...,2004-02-09T12:00:00Z,55.2035,-132.8202
Class A,9317,"Report 9317: Driver on Alcan Highway has noon,...",2004-06-18T12:00:00Z,62.9375,-141.5667
Class A,13038,Report 13038: Snowmobiler has encounter in dee...,2004-02-15T12:00:00Z,61.0595,-149.7853